@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>backbone crud csharp</title>
    <link href="@Url.Content("~/css/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap/css/bootstrap-mvc-validation.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap/css/bootstrap-extensions.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="wrap">
        <header>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="/" title="backbone crud csharp"> backbone crud csharp
                        </a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="divider-vertical"></li>
                                <li><a href="/contas"><i class="icon-user icon-white"></i> Contas</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <article>
            <div class="container">
            </div>
        </article>
        <footer>
            <div class="container">
                <p class="pull-left">&copy; <a href="http://junioro.wordpress.com" rel="author">Júnior Oliveira</a> @DateTime.Now.ToString("yyyy").</p>
                <p class="pull-right"> backbone crud csharp</p>
            </div>
        </footer>
    </div>
    <script data-main="@Url.Content("~/js/main")" src="@Url.Content("~/js/libs/require/require.js")"></script>
</body>
</html>
