@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>backbone crud csharp</title>
    <link href="@Url.Content("~/css/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap/css/bootstrap-mvc-validation.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap/css/bootstrap-extensions.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="wrap">
        <header>
        </header>
        <article>
        </article>
        <footer>
            <div class="container">
                <p class="pull-left">&copy; <a href="http://junioro.wordpress.com" rel="author">Júnior Oliveira</a> @DateTime.Now.ToString("yyyy").</p>
                <p class="pull-right"> backbone crud csharp</p>
            </div>
        </footer>
    </div>
    <script data-main="@Url.Content("~/js/main")" src="@Url.Content("~/js/libs/require/require.js")"></script>
</body>
</html>
